[Unit]
Description=Team Civitas Website
After=network.target

[Service]
User=root
WorkingDirectory={your_working_directory}
ExecStart=/bin/bash {your_working_directory}/src/backend/start/start.sh
Restart=always

[Install]
WantedBy=multi-user.target