* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body {
    background: #111926;
    height: 100vh;
    width: 100vw;
}

.root {
    display: flex;
    flex-direction:  column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.link-list {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.link-icon {
    fill: #fff;
    height: 32px;
    width: 32px;
    margin: 16px;
}

.link-icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-background {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.profile h1 {
    color: #fff;
    font-size: 32px;
    margin-left: 16px;
}

.bio {
    margin-top: 16px;
}

.bio p {
    color: #fff;
    font-size: 18px;
    max-width: 40vw;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .bio p {
        max-width: 60vw;
    }
}

@media (max-width: 768px) {
    .bio p {
        max-width: 75vw;
    }
}

.status-indicator-container {
    position: relative;
    display: inline-block;
}

.status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 6px solid #111926;
    border-radius: 50%;
    background-color: #111926;
}
